.country-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #334155;
  background-color:#1f1f2f;
  padding: 10px 25px 10px 25px;
}

.item-name {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
}

.item-button {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #3b82f6;
}

.item-visited {
  font-family: 'Roboto';
  font-size: 15px;
  color:  #cbd5e1;
  font-weight: 500;
}
